  <%-include('./head.ejs') %>
<body>
    <nav class="head">
        <ul class="head-ul">
            <a href="/">
                <li>Home</li>
            </a>
        
              <a href="/profile">
                <li>Profile</li>
            </a>
            <% if(userInfo) {%>
            
        
            <a href="/logout">
                <li>Logout</li>
            </a>
         
            <% }else{%>

         <a href="/login">
             <li>Login</li>
        </a>
            <a href="/register">
                <li>Sign Up</li>
            </a>

                <% } %>
        </ul>
    </nav>
</body>
</html>